
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name = "format-detection" content = "telephone=no" />
    <meta name="author" content="Shota Mishima">
    <title>About Shota Mishima</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/starter-template/">

    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

      <!-- Favicons -->
    <link rel="apple-touch-icon" href="/docs/4.5/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
    <link rel="icon" href="/docs/4.5/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="/docs/4.5/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
    <link rel="manifest" href="/docs/4.5/assets/img/favicons/manifest.json">
    <link rel="mask-icon" href="/docs/4.5/assets/img/favicons/safari-pinned-tab.svg" color="#563d7c">
    <link rel="icon" href="/docs/4.5/assets/img/favicons/favicon.ico">
    <meta name="msapplication-config" content="/docs/4.5/assets/img/favicons/browserconfig.xml">
    <meta name="theme-color" content="#563d7c">


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
      .starter-template {
        padding: 3rem 1.5rem;
        text-align: left;
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="starter-template.css" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" >ABOUT ME</a>
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <div class="navbar-nav ml-auto">
                <a class="nav-link" href="/">EN <span class="sr-only">(current)</span></a>
                <a class="nav-link" href="#">JP <span class="sr-only">(current)</span></a>
            </div>
        </div>
    </nav>

    <main role="main" class="container">

          <div class="starter-template">
            <br><br>
            <h2 id="shota-mishima">三島　将太</h2><br>

            <h3 id="section">興味</h3><hr>
            <p>機械学習, フィンテック, ブロックチェーン, 米国株投資</p>
            <br><br>

            <h3 id="section-1">経歴</h3><hr>
            <h4 id="">信頼性エンジニア, トヨタ自動車 2017年4月 - 現在</h4>
            <p>電子部品の開発に従事</p>
            <br><br>

            <h3 id="section-2">教育</h3><hr>
            <h4 id="section-3">横浜国立大学　修士（工学）, 2017年</h4>
            <p>Theme: ダイヤモンドNV中心による量子中継器の研究開発</p><br>
            <h4 id="section-4">横浜国立大学　学士（理工学部物理工学）, 2015年</h4>
            <br><br>

            <h3 id="section-5">受賞</h3><hr>
            <p>講演奨励賞（応用物理学会, 2015年秋季）</p>
            <br><br>

            <h3 id="section-7">スキル</h3><hr>
                <ul>
                  <li>プログラミング言語: Python, Golang, C</li>
                  <li>サーバー: Docker</li>
                  <li>その他: VHDL, LabVIEW</li>
                </ul>
    </div>
    </main><!-- /.container -->

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</html>
